.main .transactions .button {
    display: flex;
    justify-content: flex-end;
}

.main .transactions .button button {
    height: 100%;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;

    background-color: #050507;
    color: #ffffff;

    cursor: pointer;

    font-size: 20px;
}

.main .transactions .button button:hover {
    transform: scale(1.04);
}

.transactions {
    margin: 0 50px;
    padding: 30px;
    border-radius: 30px;
    background-color: #372d2c;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.transactions-movements {
    width: 500px;
    height: 615px;
}

.transactions-header-welcome-timer {
    display: flex;
}

.transactions-header {

    color: white;
    font-size: 20px;
    width: 100%;
}

.modal-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.card-form-modal-container {
    background-color: #050507;
    width: 900px;
    border-radius: 30px;
    margin: 20px 50px;
    padding: 50px 40px;
    color: #ffffff;
    font-size: 16px;

    display: flex;
    align-items: stretch;
    justify-content: center;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 12%;

    gap: 70px;
}

.transactions-wrapper {
    display: flex;
    gap: 40px;
}

.transactions-cards-operations {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.transactions-cards {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-form-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-form-img img {
    width: 400px;
}

.card-form-container span{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.card-form-container span #cvv{
    margin-right: 10px;
}

.card-form-label {
    display: flex;
    align-items: center;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin: 10px 0 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 20px;
}

.form-input:focus {
    outline: none;
}

.movement__row-nomov {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Стиль для кнопки */
.card-form-button {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;

    background-color: #e4311d;
    color: #050507;

    cursor: pointer;

    font-size: 20px;
}

.card-form-button:hover {
    transform: scale(1.04);
}

.card-form-close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fdfdfd;
}

.card-form-close-button:hover {
    transform: scale(1.04);
}

.cards-carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* скрыть элементы за пределами */
}

.cards-carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease; /* плавный переход при смене слайда */
}

.card-element {
    margin: 50px 0px -160px;
    padding: 40px 120px 70px;
    /*background-image: url(../assets/img/card-template.png);*/
    background-size: contain;
    background-repeat: no-repeat;
}

.card-element > :nth-child(1) {
    position: relative;
    top: -15px;
    left: -25px;
}

.card-element > :nth-child(2) {
    position: relative;
    top: 47px;
    left: 75px;
}

.card-element > :nth-child(3) {
    position: relative;
    top: 50px;
    left: 168px;
}

.card-element > :nth-child(4) {
    position: relative;
    top: -40px;
    left: 67px;
    font-size: 30px;
}

.card-element p {
    z-index: 1;
}

.card-element img {
    position: relative;
    top: -140px;
    left: -65px;
    width: 400px;
}

.cards-carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: #050507;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.cards-carousel-arrow.left {
    left: 10px;
}

.cards-carousel-arrow.right {
    right: 10px;
}

.card-form-container .input-error-text{
    margin-top: -20px;
}

.transactions-movements-wrapper {
    margin-top: 40px;
    border-radius: 20px;
    overflow: hidden;
}

/* MOVEMENTS */
.movements {
    background-color: #fff;
    border-radius: 1rem;
    overflow-y: scroll;
}

.movements__row {
    font-size: 18px;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.movements__type {
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 0.1rem 1rem;
    border-radius: 10rem;
    margin-right: 1rem;
}

.movements__date {
    flex: 1;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
}

.movements__type--deposit {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
    font-size: 1.7rem;
    margin-left: auto;
}

/* OPERATIONS */
.operation {
    border-radius: 20px;
    padding: 20px;
    color: #333;
}

.operation--transfer {
    font-size: 14px;
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.operation--close {
    font-size: 14px;
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form--transfer {
    display: flex;
    gap: 15px;
}

.form--transfer input{
    margin: 0;
}

.form--close {
    display: flex;
    gap: 15px;
}

.form--close input{
    margin: 0;
}

/* End exceptions */

.form__input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}

.form__input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
    font-size: 1.3rem;
    text-align: center;
}

.form__btn {
    border: none;
    border-radius: 0.7rem;
    font-size: 1.8rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0);
}

.form__btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
}


@media (max-width: 990px) {
    .card-form-modal-container {
        width: 500px;
    }

    .card-form-img {
        display: none;
    }
}

@media (max-width: 600px) {
    .card-form-modal-container {
        width: 300px;
        padding: 30px 20px;
    }
}

